.bg-color{
    background-color: rgb(221, 238, 237);
}

.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color:rgb(185, 169, 171);
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: mediumvioletred;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1,.cat2,.cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: rgb(129, 79, 31);
    height: 150px;
    width: 300px;
}
.cat2{
    background-color: rgb(26, 114, 38);
    height: 150px;
    width: 300px;
}
.cat3{
    background-color: rgb(21, 85, 85);
    height: 150px;
    width: 300px;
}
.categories h1{
    color: white;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#contact{
    height: 300px;
    background-color: rgb(165, 192, 45);
}
#contact h6{
    color: rgb(12, 12, 11);
}
footer{
    text-align: center;
}